<ion-card>
  <ion-card-header>
    <img [src]="imagePath">
    <ion-card-title>{{phoneName}}</ion-card-title>
    <ion-card-subtitle>{{phoneCategory}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="onMoreInfoClick(index)" size="small"><ion-icon name="information-circle-outline" slot="start"></ion-icon>More Information</ion-button>
    <ion-button size="small"><ion-icon name="card-outline" slot="start"></ion-icon>Buy Here (Affiliate Link)</ion-button>
    <ion-button (click)="onClick()" size="small"><ion-icon name="{{starIcon}}" slot="start"></ion-icon>Favorite</ion-button>
  </ion-card-content>
</ion-card>